@import url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css);

body {
	font-family: GothamPro;
}

p {
	font-weight: 300;
	margin: 0;
}

h1,
h2,
h3,
h4,
a {
	font-weight: 300;
	margin: 0;
}

th {
	vertical-align: middle !important;
	white-space: nowrap;
}

td {
	vertical-align: middle !important;
}

.noWrap {
	white-space: nowrap;
}

.noMargin {
	margin: 0 !important;
}

.toggleViewIcons i {
	padding: 0px 10px;
	cursor: pointer;
}

.savedUserLink {
	padding: 2px 18px;
	margin: 0.5rem;
	border-radius: 10px;
}

.savedUserLink:hover {
	background: #adadad;
	text-decoration: none;
	color: #ffffff;
}

.card-body {
	padding: 1rem !important;
}

.break:before {
	content: '\A';
	white-space: pre;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.dropup,
.dropdown {
	position: relative;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px dashed;
	border-bottom: 4px solid \9;
	content: '';
}

.order {
	display: none;
}
