p {
	font-weight: 300;
	margin: 0;
}

h1,
h2,
h3,
h4,
a {
	font-weight: 300;
}

.noWrap {
	white-space: nowrap;
}

.noMargin {
	margin: 0 !important;
}

.toggleViewIcons i {
	padding: 0px 10px;
	cursor: pointer;
}

.savedUserLink {
	padding: 2px 18px;
	margin: 0.5rem;
	border-radius: 10px;
}

.savedUserLink:hover {
	background: #adadad;
	text-decoration: none;
	color: #ffffff;
}
